/* <title> 태그를 중앙에 위치시키는 스타일 */
header h1 {
  text-align: center;
}

/* <li> 태그를 중앙에 위치시키는 스타일 */
nav ul {
  display: flex;
  justify-content: center;
}
.product {
        text-align: center;
      }
      .product h2 {
        font-size: 18px; /* 원하는 글자 크기로 조절 */
      }
      .product img {
        font-size: 12px; /* 원하는 글자 크기로 조절 */
      }